.product-list {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 90px;
}

.pl-texts {
    width: 65%;
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
}

.pl-desc {
    margin: 20px 0;
}

.pl-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.github-link {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 20px 0;
}

.github-link a {
    color: #9A0680;
    text-decoration: none;
    transition: opacity 1s ease-in-out 6ms;
}

.github-link a:hover {
    opacity: 0.79;
}
/* responsive */

@media screen and (max-width: 1200px) {
    .product-list {
        margin-top: 250px;
    }
}

@media screen and (max-width: 880px) {
    .product-list {
        margin-top: 320px;
    }

    .pl-texts {
        width: 85%;
    }

    .pl-title {
        font-size: 35px;
    }

    .pl-desc {
        font-size: 20px;
    }
} 


@media screen and (max-width: 650px) {
    .product-list {
        margin-top: 350px;
    }

    .pl-texts {
        width: 90%;
    }
}

@media screen and (max-width: 590px) {
    .product-list {
        margin-top: 390px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-title {
        font-size: 30px;
    }

    .pl-desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .product-list {
        padding: 10px;
        max-width: 100vh;
        margin-top: 360px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-title {
        font-size: 30px;
    }

    .pl-desc {
        display: none;
    }

    .pl-desc {
        font-size: 20px;
    }
}