.contact {
    height: 100vh;
    position: relative;
}

.c-bg {
    width: 30px;
    height: 100%;
    background-color: #519259;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* left side */

.c-left {
    flex: 1;
    margin-left: 20px;
}

.c-title {
    font-size: 60px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 600;
    width: 70%;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* right side */

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-desc {
    font-weight: 300;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding: 10px 0 0 10px;
    border: none;
    border-bottom: 1px solid black;
}

button {
    border: none;
    padding: 15px;
    background-color: #519259;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0 50px;
    }

    .c-left {
        margin-left: 0;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        margin: 20px 0;
        width: 100%;
    }

    .c-desc {
        display: none;
    }

    .c-icon {
        width: 20px;
        height: 20px;
    }

    .c-detail {
        font-size: smaller;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    button {
        margin-top: 10px;
    }
}